<% if(message&&message.error===true){%>
    <div class="alert alert-danger" role="alert"><%= message.message %></div>
<%}else if(message&&message.error===false){%>
    <div class="alert alert-info" role="alert"><%= message.message %></div>
<%}%>
