<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>UserAuthStarter</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css" charset="utf-8">
