<!-- views/index  -->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/head %>
</head>
<body class="container">
    <header>
        <% include ./partials/header %>
    </header>
    <main>
      <h1>这是一个关于项目的简介页面</h1>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
</body>
</html>
