<!-- views/index  -->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ./partials/head %>
</head>
<body class="container">
    <header>
        <% include ./partials/header %>
    </header>
    <main>
      <div id="root">
      </div>
    </main>
    <footer>
        <% include ./partials/footer %>
    </footer>
    <script type="text/javascript" src="bundle.js">
    </script>
</body>
</html>
