<!-- views/user/change_password_from_email.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>This is page for change password</h1>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
