<!-- views/user/change_password.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main class="row">
          <form id="change_password" class="col-lg-5 col-md-6 col-sm-12" method="post">
            <div class="form-group">
              <label for="password">原始密码</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="new_password">新密码</label>
              <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
              <label for="new_password_confirm">确认密码</label>
              <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <div class="form-group">
                <button type="submit" class="btn btn-default">确认修改</button>
            </div>
            <% include ../partials/error %>
          </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
