<!-- views/user/forget_password.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is page for forget password from user profile</h1>
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
