<!-- views/user/login.ejs -->

<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main class="row">
          <form id="login" class="col-lg-5 col-md-6 col-sm-12" method="post">
            <div class="form-group">
              <label for="user_email">用户名</label>
              <input type="email" class="form-control" id="user_email" name="username" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="user_password">密码</label>
              <input type="password" class="form-control" id="user_password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> 记住登录状态
                </label>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <div class="form-group">
                <button type="submit" class="btn btn-default">登录</button>
            </div>
            <% if(message){%>
                <div class="alert alert-danger" role="alert"><%= message %></div>
            <%}%>
          </form>
    </main>
    <footer class="row">
        <% include ../partials/footer %>
    </footer>
</body>
</html>
